:root {
  background-color: black;
  font-size: 62.5%;
  
  --color-text: rgb(221, 221, 31);
}

* {
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  color: var(--color-text);
  margin-bottom: 5rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  /* margin-bottom: 4rem; */
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

/* UTILITIES */

.container {
  width: 100vw;
  height: calc(100vh-30px);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto 40px;
  padding: 2rem;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* BUTTONS */
.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  background-color: white;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(var(--color-text), 0.576);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* FORMS */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(var(--color-text), 0.576);
  text-align: center;
  color: black;

}

input::placeholder {
  color: #aaa;
  text-align: center;
}

/* --- header ---*/
.logo {
  width: 250px;
  margin: 0 auto 50px;
}

/* --- reglas ---  */

.reglas {
  max-height:300px;
  width: 80%;

  text-align: center;
  font-size: 14px;

}

.reglas li {
  list-style: none;
}


/* --- footer --- */
.grupo {
  background-color: var(--color-text);
  width: 100%;
  height: 30px;

  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.grupo p {
  color: black;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.2rem;

  border-left: 2px solid black;
  padding: 0 10px;
}

.grupo p:first-child{
  border: none;
}

@media (max-width: 580px) {
  footer {
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
  }

  .grupo p {
      border: none;
  }
  
}

/* --- game.html ---*/
.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(var(--color-text), 0.25);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(var(--color-text), 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: var(--color-text);
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  color: black;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 4rem;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
  margin-bottom: 0;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.1rem solid var(--color-text);
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: var(--color-text);
  width: 0%;
}

/* --- Puntajes.html ---- */
#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
  text-align: center;

  width: 450px;
  max-height: 130px;
  overflow: auto;
}

/* Estilos de barra scrool*/

#highScoresList::-webkit-scrollbar {
  -webkit-appearance: none;
}

#highScoresList::-webkit-scrollbar:vertical {
  width:5px;
}
#highScoresList::-webkit-scrollbar:horizontal {
  height:1px;
}

#highScoresList::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

#highScoresList::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid var(--color-text);
}

#highScoresList::-webkit-scrollbar-track {
  border-radius: 10px;  
}




.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.high-score:hover {
  transform: scale(1.025);
}

